 <section class="about-company-section">

    <div class="container p-1 p-sm-3">
      <div class="row">
        <div class="col-12 text-center">
          <h2>About SHOPEE-APP</h2>
          <hr>
        </div>
        <div class="col-md-3">
          <%= image_tag "logo1.jpg",width:200,height:300%>
        </div>
        <div class="col-md-9">
          <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Minus, quasi! Quis maxime maiores omnis illum modi dolor ex et, aliquam incidunt sint facere, ullam minima impedit non fugiat nisi in?
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium quam labore quasi, ea, ratione quos aspernatur, vel provident perspiciatis alias saepe amet ut ducimus accusamus! Nesciunt necessitatibus quaerat dolorum. Mollitia!
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Accusamus in delectus consequuntur labore assumenda a molestias quod veniam rerum laboriosam, illum ex, tempora dolor ipsa, tempore iusto dolorum eos reprehenderit?
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Enim laudantium sunt fugit, debitis dolore alias provident eos voluptatibus tempore placeat, dolores pariatur officia? Reiciendis ex accusantium ducimus ut odio nesciunt!
          </p>
        </div>
      </div>
    </div>
  </section>


  <section>
    <div class="container">
      <div class="row pt-2">
        <div class="col-12 text-center">

        <h3>Our Our Awesome Team

        </h3>
        </div>
        <hr>

      </div>
      <div class="row">
        <div class="col-md-4 text-center">
         <%= image_tag "u1.png" ,class:"img-fluid p-5",width:200%>
          <h5>CEO</h5>
         <p>Lakshmi Prashanth</p>
          

          


        </div>
        <div class="col-md-4 text-center">
          <%= image_tag "u2.png" ,class:"img-fluid p-5",width:200%>
          <h5>senior Business Analyst</h5>
         <p>Venkat sai Prashanth</p>

        </div>
        <div class="col-md-4 text-center">
          <%= image_tag "u3.png" ,class:"img-fluid p-5",width:200%>
          <h5>senior HR</h5>
         <p>sai sumanth reddy</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 text-center">
          <%= image_tag "u4.png" ,class:"img-fluid p-5",width:200 %>
          <h5>java Developer</h5>
         <p>lokeshwarnath</p>


        </div>
        <div class="col-md-4 text-center">
          <%= image_tag "u5.png" ,class:"img-fluid p-5",width:200%>
          <h5>Sales Head</h5>
          <p>Abhishek</p>

        </div>
        <div class="col-md-4 text-center">
          <%= image_tag "u.png" ,class:"img-fluid p-5",width:200%>
          <h5>software Intern</h5>
        <p>konda reddy</p>

        </div>
      </div>
    </div>
  </section>